body{
  background:linear-gradient(145deg,rgba(255, 115, 0, 0.356),rgba(0, 255, 213, 0.438),rgba(255, 0, 115, 0.667));
}
.bottom-text {
  position: fixed;
  bottom: 80px; /* Adjust as needed */
  left: calc(50%); /* Adjusting for the border width */
  transform: translateY(50%);
  text-align: center;
  color: #ffffffbf; /* Black text color */
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px; /* Add padding for spacing */
  border: 2px solid #fff; /* White border */
  box-shadow: 0px 0px 10px rgba(14, 102, 196, 0.582); /* Box shadow for depth */
  transition: border-color 0.3s ease, transform 0.3s ease; /* Added transition effect */
  background-color: #1c37d1aa;
}

.bottom-text:hover {
  border-color: #ddd; /* Lighter border color on hover */
  transform: scale(1.05); /* Added slight scaling effect on hover */
}
.bottom-text p {
  margin: 0;
}

.bottom-text-2 {
  position: fixed;
  bottom: 80px; /* Adjust as needed */
  right: calc(50%); /* Adjusting for the border width */
  transform: translateY(50%);
  text-align: center;
  color: #ffffffbf; /* Black text color */
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px; /* Add padding for spacing */
  border: 2px solid #fff; /* White border */
  box-shadow: 0px 0px 10px rgba(14, 102, 196, 0.582); /* Box shadow for depth */
  transition: border-color 0.3s ease, transform 0.3s ease; /* Added transition effect */
  background-color: #1c37d1aa  ;
}

.bottom-text-2:hover {
  border-color: #ddd; /* Lighter border color on hover */
  transform: scale(1.05); /* Added slight scaling effect on hover */
}
.bottom-text-2 p {
  margin: 0; /* Remove margin between paragraphs */
}








.quiz-container {
    font-family: "Roboto", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
    display: none;
  }



  


  

  



  
  

  
  
  
